################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/UsersService/.vs/UsersService/FileContentIndex
/PlazoletaService/.vs/PlazoletaService/FileContentIndex
